html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #001220;
}

.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.topnav a {
    float: right;
    color: #ecf0f1;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.topnav a:hover {
    color: #ffffff;
}

.titlebackground {
    width: 100vw;
    height: 50vh;
    background-color: #FF7F50;
    display: block;
}

.title {
    margin: 0;
    padding-top: 20vh;
    padding-bottom: 5%;
    padding-left: 25%;
    padding-right: auto;
    text-align: left;
}

.name {
    color: #353535;
    display: inline;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 64px;
}

#username {
    color: #163452;
    font-weight: 700;
}

.description {
    color: #414141;
    display: inline;
    margin-top: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
}

#highlight {
    display: inline;
    color: #3498db;
}

.hidden {
    opacity:0;
}

.console-container {
    display: inline;
}

.divider, #visual {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    overflow: visible;
    line-height: 0;
}

.projects {
    height: 590px;
}

.projecttitle, p {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    color: #bdc3c7;
    text-decoration: underline 4px;
    text-align: center;
    padding-top: 5vh;
}

.projectsgrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*background-color: #2196F3;*/
    padding: 20px 2vw;
    justify-content: space-evenly;
    gap: 20px 0;
}

@media screen and (max-width: 1700px) {
    .projectsgrid {
        grid-template-columns: auto auto;
    }
    .projects {
        height: 1080px;
    }
}
@media screen and (max-width: 800px) {
    .projectsgrid {
        grid-template-columns: auto;
    }
    .projects {
        height: 2160px;
    }
}

.project {
    background-color: #e0e0e0;
    border-radius: 30px;
    padding: 0;
    width: 360px;
    max-width: 360px;
    height: 420px;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    color: #414141;
    text-decoration: underline 4px;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.project-description {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #353535;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.project-button {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #3498db;
    padding: 5px 0;
    margin: 8px 0;
    border-radius: 7px;
    justify-self: flex-end;
    z-index: 5;
}

#bottomwave {
    margin-top: 10vh;
}

.contact {
    height: 35vh;
    background-color: #00CC8E;
}

.contacttitle, .contactlink {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    color: #353535;
    text-align: center;
    padding-top: 12vh;
    margin: 0;
    text-decoration: none;
}

.contactlink {
    color: #444444;
}

footer {
    color: #353535;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    margin: auto;
    background-color: #00CC8E;
}
